<form method="POST" action="/login">
<label>Email: </label>
<input type="email" name="email">
<br>
<br>
<label>Password: </label>
<input type="password" name="pass">
<button type="submit"> Log in! </button>
</form>